.products-solutions-14-1 {
  align-items: flex-start;
  background-color: var(--black);
  display: flex;
  height: 1660px;
  overflow: hidden;
  position: relative;
  width: 1366px;
}

.overlap-group6-6 {
  height: 2170px;
  margin-left: -50px;
  margin-top: -71.57px;
  position: relative;
  width: 1416px;
  z-index: 1;
}

.group-3579 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 2170px;
  position: absolute;
  top: 0;
  width: 1416px;
}

.overlap-group5-3 {
  height: 1817px;
  margin-right: -67.3px;
  margin-top: -201px;
  position: relative;
  width: 1483px;
}

.rectangle-177-19 {
  background-color: var(--black);
  height: 318px;
  left: 50px;
  position: absolute;
  top: 273px;
  width: 1366px;
}

.ellipse-446-37 {
  border-radius: 255px;
  height: 993px;
  left: -350px;
  mix-blend-mode: screen;
  object-fit: cover;
  position: absolute;
  top: -100;
  width: 993px;
}

.ellipse-447-14 {
  border-radius: 255px;
  height: 993px;
  left: 820px;
  mix-blend-mode: screen;
  object-fit: cover;
  position: absolute;
  top: 350;
  width: 993px;
}

.products-solutions-33 {
  left: 189px;
  letter-spacing: 0;
  line-height: 55px;
  position: absolute;
  top: 494px;
  white-space: nowrap;
}

.lorem-ipsum-dolor-si-33 {
  height: 92px;
  left: 191px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 586px;
  width: 933px;
}

.component-86-1 {
  height: 3px;
  left: 194px;
  object-fit: cover;
  position: absolute;
  top: 571px;
  width: 222px;
}

.overlap-group4-12 {
  /* background-color: var(--black); */
  height: 282px;
  left: 0;
  position: absolute;
  top: 516px;
  width: 64px;
}

.rectangle-172-23 {
  border: 1px solid;
  /* border-color: var(--dove-gray); */
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
}

.group-511-23 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 7px;
  min-height: 272px;
  position: absolute;
  top: 10px;
  width: 50px;
}

.group-515-23 {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--white);
  border-radius: 25px;
  display: flex;
  height: 50px;
  margin-left: 0;
  margin-top: 25px;
  min-width: 50px;
  padding: 18.7px 18px;
}

.linkedin-23 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 11px;
  width: 12px;
}

.ellipse-446-38 {
  height: 3px;
  margin-left: 0;
  object-fit: cover;
  width: 3px;
}

.flex-row-17 {
  align-items: flex-end;
  display: flex;
  margin-left: 0;
  min-width: 12px;
}

.rectangle-173-23 {
  height: 8px;
  margin-bottom: 0;
  object-fit: cover;
  width: 3px;
}

.path-1372-23 {
  height: 8px;
  margin-left: 1px;
  object-fit: cover;
  width: 8px;
}

.group-3578-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 212px;
  min-height: 1046px;
  position: absolute;
  top: 771px;
  width: 1042px;
  z-index: 2;
}

.group-3576-1 {
  display: flex;
  height: 318px;
  justify-content: space-between;
  position: relative;
  width: 1042px;
}

.group-3546-2 {
  cursor: pointer;
  display: flex;
  margin-bottom: 0;
  margin-left: 0;
  position: relative;
  width: 498.11px;
}

.group-container-81 {
  height: 433px;
  margin-top: 121px;
  position: relative;
  width: 1366px;
}

.group-356-13 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 353px;
  position: absolute;
  top: 80px;
  width: 1366px;
}

.group-container-82 {
  align-items: flex-start;
  display: flex;
  height: 185px;
  margin-right: 63.99px;
  min-width: 1170px;
  position: relative;
}

.overlap-group2-22 {
  align-items: flex-end;
  background-color: var(--cod-gray);
  display: flex;
  height: 87px;
  justify-content: flex-end;
  margin-top: 81px;
  min-width: 1366px;
  padding: 28px 439px;
}

.copyrights-2022-jm-9 {
  letter-spacing: 0;
  line-height: 18px;
  min-height: 26px;
  min-width: 450px;
  white-space: nowrap;
}

.group-524-s {
  background-color: black;
  background-position: 50% 50%;
  background-size: cover;
  height: 1030px;
  left: 0;
  opacity: 1;
  position: absolute;
  top: 530;
  width: 1823px;
  z-index: 1;
}

.group-3547-2-1 {
  display: flex;
  margin-bottom: 0;
  margin-right: 0;
  margin-top: 0;
  width: 498.5px;
}

.group-474-8 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  min-width: 498.5px;
}

.overlap-group1-46 {
  height: 319px;
  margin-top: -0.4px;
  position: relative;
  width: 499px;
}

.overlap-group-79 {
  height: 319px;
  left: 0;
  position: absolute;
  top: 0;
  width: 499px;
}

.rectangle-167-2 {
  background-color: var(--white-3);
  border: 1px solid;
  border-color: var(--white-2);
  border-radius: 8px;
  box-shadow: 0px 3px 25px #0000000d;
  height: 319px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 498px;
}

.component-2 {
  height: 249px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 498px;
}

.mylomie-you-want-it-you-got-it {
  left: 47px;
  letter-spacing: 0;
  line-height: 19px;
  position: absolute;
  top: 276px;
  white-space: nowrap;
}
