.group-357-1 {
  display: flex;
  height: 318px;
  justify-content: space-between;
  margin-top: 46px;
  position: relative;
  width: 1042px;
}

.group-3546-3 {
  display: flex;
  margin-bottom: 0;
  margin-left: 0;
  position: relative;
  width: 498.11px;
}

.group-3542-1 {
  display: flex;
  flex: 1;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
  width: 498.11px;
}

.group-3540-1 {
  display: flex;
  flex: 1;
  height: 317.9px;
}

.group-474-7 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
  min-width: 498.11px;
}

.overlap-group1-45 {
  border-radius: 8px;
  height: 319px;
  margin-top: -0.4px;
  position: relative;
  width: 498px;
}

.overlap-group-78 {
  align-items: flex-start;
  background-color: var(--white-3);
  border: 1px solid;
  border-color: var(--white-2);
  border-radius: 8px;
  box-shadow: 0px 3px 25px #0000000d;
  display: flex;
  height: 319px;
  left: 0;
  min-width: 498px;
  position: absolute;
  top: 0;
}

.component-1 {
  height: 249px;
  margin-left: -1px;
  margin-top: -0.6px;
  object-fit: cover;
  width: 497px;
}

.knowledge-international-university-2 {
  left: 47px;
  letter-spacing: 0;
  line-height: 19px;
  position: absolute;
  top: 276px;
  white-space: nowrap;
}
