.services-page-alliances-ecosystems-3 {
  align-items: flex-start;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  height: 1020px;
  overflow: hidden;
  position: relative;
  width: 1366px;
}

.overlap-group4-7 {
  height: 1132px;
  margin-top: -273px;
  position: relative;
  width: 1433px;
  z-index: 1;
}

.rectangle-177-12 {
  background-color: var(--black);
  height: 318px;
  left: 0;
  position: absolute;
  top: 273px;
  width: 1366px;
}

.ellipse-446-34 {
  border-radius: 255px;
  height: 993px;
  left: 440px;
  mix-blend-mode: screen;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 993px;
}

.ellipse-447-11 {
  border-radius: 255px;
  height: 993px;
  left: 42px;
  mix-blend-mode: screen;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 993px;
}

.alliances-ecosystems-2 {
  left: 139px;
  letter-spacing: 0;
  line-height: 55px;
  position: absolute;
  top: 494px;
  white-space: nowrap;
}

.in-todays-exceeding-2 {
  left: 141px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 586px;
  width: 933px;
}

.rectangle-201-10 {
  background: linear-gradient(90deg, rgba(74, 204, 196, 0) -8.84%, rgba(76, 197, 196, 0.02) -0.09%, rgba(84, 178, 198, 0.09) 9.93%, rgba(74, 204, 196, 0.31) 39.42%, rgba(116, 102, 205, 0.35) 45.88%, rgba(139, 47, 210, 0.54) 55.66%, rgba(143, 38, 211, 0.57) 59.06%, #ff4d00 98.89%);
  height: 3px;
  left: 144px;
  position: absolute;
  top: 571px;
  width: 222px;
}

