.component-21-2 {
  display: flex;
  height: 66px;
  left: 229px;
  position: absolute;
  top: 0;
  width: 1366px;
}

.group-510-49 {
  display: flex;
  flex: 1;
  width: 1366px;
}

.group-509-49 {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  flex: 1;
  height: 66px;
  min-width: 1366px;
  padding: 23.9px 60px;
}

.group-container-92 {
  height: 18px;
  position: relative;
  width: 1228px;
}

.group-508-49 {
  display: flex;
  height: 18px;
  justify-content: space-between;
  left: 0;
  position: absolute;
  top: 0;
  width: 1228px;
}

.logo {
  margin-bottom: 0.5px;
  margin-left: 0;
  margin-top: 0;
  object-fit: cover;
  width: 245px;
}

.group-506-18 {
  display: flex;
  margin-right: 0;
  margin-top: 0.1px;
  width: 36px;
}

.arb {
  letter-spacing: 1.4px;
  line-height: 14px;
  margin-bottom: -4px;
  margin-top: 2px;
  white-space: nowrap;
  width: 36px;
}

.group-506-18.group-506-33 {
  margin-right: unset;
}

.group-606 {
  display: flex;
  height: 18px;
  left: 375px;
  position: absolute;
  top: 0;
  width: 496px;
}

.component-22-17 {
  display: flex;
  width: 174px;
}

.products-solutions {
  flex: 1;
  letter-spacing: 1.4px;
  line-height: 14px;
  margin-bottom: -4px;
  margin-right: -2px;
  margin-top: 2px;
  white-space: nowrap;
  width: 174px;
}

.component-22-17.component-22-16,
.component-22-17.component-22-16-1,
.component-22-17.component-22-16-2,
.component-22-17.component-22-16-3,
.component-22-17.component-22-16-4,
.component-22-17.component-22-16-5,
.component-22-17.component-22-16-6,
.component-22-17.component-22-16-7,
.component-22-17.component-22-16-8,
.component-22-17.component-22-16-9,
.component-22-17.component-22-16-10,
.component-22-17.component-22-16-11,
.component-22-17.component-22-16-12,
.component-22-17.component-22-16-13,
.component-22-17.component-22-16-14 {
  margin-left: 38px;
  width: 69px;
}

.component-22-17.component-22-16 .products-solutions,
.component-22-17.component-22-16-1 .products-solutions,
.component-22-17.component-22-16-2 .products-solutions,
.component-22-17.component-22-16-3 .products-solutions,
.component-22-17.component-22-16-4 .products-solutions,
.component-22-17.component-22-16-5 .products-solutions,
.component-22-17.component-22-16-6 .products-solutions,
.component-22-17.component-22-16-7 .products-solutions,
.component-22-17.component-22-16-8 .products-solutions,
.component-22-17.component-22-16-9 .products-solutions,
.component-22-17.component-22-16-10 .products-solutions,
.component-22-17.component-22-16-11 .products-solutions,
.component-22-17.component-22-16-12 .products-solutions,
.component-22-17.component-22-16-13 .products-solutions,
.component-22-17.component-22-16-14 .products-solutions {
  width: 69px;
}

.component-22-17.component-22-15,
.component-22-17.component-22-15-1,
.component-22-17.component-22-15-2,
.component-22-17.component-22-15-3,
.component-22-17.component-22-15-4,
.component-22-17.component-22-15-5,
.component-22-17.component-22-15-6,
.component-22-17.component-22-15-7,
.component-22-17.component-22-15-8,
.component-22-17.component-22-15-9,
.component-22-17.component-22-15-10,
.component-22-17.component-22-15-11,
.component-22-17.component-22-15-12,
.component-22-17.component-22-15-13,
.component-22-17.component-22-15-14 {
  margin-left: 38px;
  width: 75px;
}

.component-22-17.component-22-15 .products-solutions,
.component-22-17.component-22-15-1 .products-solutions,
.component-22-17.component-22-15-2 .products-solutions,
.component-22-17.component-22-15-3 .products-solutions,
.component-22-17.component-22-15-4 .products-solutions,
.component-22-17.component-22-15-5 .products-solutions,
.component-22-17.component-22-15-6 .products-solutions,
.component-22-17.component-22-15-7 .products-solutions,
.component-22-17.component-22-15-8 .products-solutions,
.component-22-17.component-22-15-9 .products-solutions,
.component-22-17.component-22-15-10 .products-solutions,
.component-22-17.component-22-15-11 .products-solutions,
.component-22-17.component-22-15-12 .products-solutions,
.component-22-17.component-22-15-13 .products-solutions,
.component-22-17.component-22-15-14 .products-solutions {
  width: 75px;
}

.component-22-17.component-22-14,
.component-22-17.component-22-14-1,
.component-22-17.component-22-14-2,
.component-22-17.component-22-14-3,
.component-22-17.component-22-14-4,
.component-22-17.component-22-14-5,
.component-22-17.component-22-14-6,
.component-22-17.component-22-14-7,
.component-22-17.component-22-14-8,
.component-22-17.component-22-14-9,
.component-22-17.component-22-14-10,
.component-22-17.component-22-14-11,
.component-22-17.component-22-14-12,
.component-22-17.component-22-14-13,
.component-22-17.component-22-14-14 {
  margin-left: 38px;
  width: 66px;
}

.component-22-17.component-22-14 .products-solutions,
.component-22-17.component-22-14-1 .products-solutions,
.component-22-17.component-22-14-2 .products-solutions,
.component-22-17.component-22-14-3 .products-solutions,
.component-22-17.component-22-14-4 .products-solutions,
.component-22-17.component-22-14-5 .products-solutions,
.component-22-17.component-22-14-6 .products-solutions,
.component-22-17.component-22-14-7 .products-solutions,
.component-22-17.component-22-14-8 .products-solutions,
.component-22-17.component-22-14-9 .products-solutions,
.component-22-17.component-22-14-10 .products-solutions,
.component-22-17.component-22-14-11 .products-solutions,
.component-22-17.component-22-14-12 .products-solutions,
.component-22-17.component-22-14-13 .products-solutions,
.component-22-17.component-22-14-14 .products-solutions {
  width: 66px;
}
