.group-499-3 {
  display: flex;
  margin-left: 0;
  width: 216.06px;
}

.group-498-10 {
  display: flex;
  flex: 1;
  height: 46.06px;
}

.group-590-4 {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 216.06px;
}

.pngwingcom-_1__1-4 {
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
  object-fit: cover;
  width: 46.06px;
}

.group-499-3.group-499-4 {
  margin-left: unset;
}

.group-499-3.group-499-4 .pngwingcom-_1__1-4 {
  width: 46.06px;
}

.group-499-3.group-499-5 .pngwingcom-_1__1-4 {
  width: 46.06px;
}

.group-589-5,
.group-589-3,
.group-589-4 {
  align-items: flex-start;
  display: flex;
  height: 38px;
  margin-right: 0;
  margin-top: 0px;
  min-width: 162px;
}

.overlap-group-74,
.overlap-group1-44,
.overlap-group-73 {
  height: 40px;
  margin-top: -3px;
  position: relative;
  width: 162px;
}

.phone-36,
.phone-34,
.phone-35 {
  left: 0;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.text-389,
.text-39-1,
.text-39-2 {
  left: 0;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 19px;
  white-space: nowrap;
}

.group-498-13,
.group-498-11,
.group-498-12 {
  align-items: flex-start;
  display: flex;
  height: 38px;
  margin-right: 0;
  margin-top: 0px;
  min-width: 214px;
}

.overlap-group-77,
.overlap-group-75,
.overlap-group-76 {
  height: 40px;
  margin-top: -3px;
  position: relative;
  width: 214px;
}

.email-2,
.email,
.email-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.contactjmminvoascom-7,
.contactjmminvoascom-5,
.contactjmminvoascom-6 {
  left: 0;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 19px;
  white-space: nowrap;
}

.group-498-7 {
  display: flex;
  flex-direction: column;
  height: 127.06px;
  justify-content: space-between;
  margin-left: 14.6px;
  position: relative;
  width: 271px;
}

.group-500-3 {
  display: flex;
  height: 46px;
  justify-content: space-between;
  position: relative;
  width: 271px;
}

.toppngcom-icon-mail-4 {
  margin-left: 0;
  object-fit: cover;
  width: 45.99px;
}

.group-498-7.group-498-8 {
  margin-left: unset;
}

.group-498-7.group-498-8 .toppngcom-icon-mail-4 {
  margin-bottom: 0;
}
