.flex-row-40 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 482px;
  margin-left: 14px;
  margin-top: 36px;
  min-width: 848px;
}

.flex-col-8 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 482px;
  width: 335px;
}

.home-page-12 {
  align-items: flex-start;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  height: 5025px;
  overflow: hidden;
  position: relative;
  width: 1366px;
}

.overlap-group11 {
  height: 1794px;
  margin-left: -229px;
  position: relative;
  width: 1823px;
  z-index: 2;
}

.rectangle-177-22 {
  background-color: var(--black);
  height: 768px;
  left: 229px;
  position: absolute;
  top: 0;
  width: 1366px;
  opacity: 1;
}

.component-56-1 {
  height: 880px;
  left: -50px;
  object-fit: cover;
  position: absolute;
  top: -450px;
  width: 810px;
  background: transparent
    radial-gradient(
      closest-side at 50% 50%,
      #79fdff 0%,
      #60c9cb 13%,
      #438d8e 31%,
      #2b5a5b 48%,
      #183333 64%,
      #0b1717 78%,
      #020606 91%,
      var(--unnamed-color-000000) 100%
    )
    0% 0% no-repeat padding-box;
  background: transparent
    radial-gradient(
      closest-side at 50% 50%,
      #79fdff 0%,
      #60c9cb 13%,
      #438d8e 31%,
      #2b5a5b 48%,
      #183333 64%,
      #0b1717 78%,
      #020606 91%,
      #000000 100%
    )
    0% 0% no-repeat padding-box;
  mix-blend-mode: screen;
  opacity: 1;
}

.component-57-1 {
  height: 610px;
  left: 1250px;
  object-fit: cover;
  position: absolute;
  top: 300px;
  width: 610px;
  background: transparent
    radial-gradient(
      closest-side at 50% 50%,
      #ac2fa1 0%,
      #a62d9c 13%,
      #97298e 28%,
      #7e2276 45%,
      #5c1956 64%,
      #2f0d2c 82%,
      var(--unnamed-color-000000) 100%
    )
    0% 0% no-repeat padding-box;
  background: transparent
    radial-gradient(
      closest-side at 50% 50%,
      #ac2fa1 0%,
      #a62d9c 13%,
      #97298e 28%,
      #7e2276 45%,
      #5c1956 64%,
      #2f0d2c 82%,
      #000000 100%
    )
    0% 0% no-repeat padding-box;
  mix-blend-mode: screen;
  opacity: 0.49;
}

.group-282-3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 534px;
  min-height: 154px;
  position: absolute;
  top: 367px;
  width: 757px;
}

.group-281-3 {
  display: flex;
  height: 36px;
  justify-content: space-between;
  margin-left: 2.16px;
  margin-top: 32px;
  width: 208px;
}

.component-131-1 {
  margin-left: 0;
  object-fit: cover;
  width: 76.25px;
}

.contact-us-21 {
  height: 26px;
  letter-spacing: 0;
  line-height: 20px;
  margin-right: -2px;
  margin-top: 7.2px;
  white-space: nowrap;
  width: 114px;
}

.overlap-group6-8 {
  height: 1030px;
  left: 0;
  position: absolute;
  top: 770px;
  width: 1823px;
}

/* .group-524-4 {
  background-position: 50% 50%;
  background-size: cover;
  height: 1030px;
  left: 0;
  opacity: 0.52;
  position: absolute;
  top: 0;
  width: 1823px;
} */

.group-547-4 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 286px;
  justify-content: center;
  left: 367px;
  min-width: 346px;
  position: absolute;
  top: 293px;
}

.overlap-group-92 {
  align-items: flex-start;
  background-color: var(--white-3);
  border: 1px solid;
  border-color: var(--white-2);
  border-radius: 8px;
  box-shadow: 0px 3px 25px #0000000d;
  display: flex;
  flex-direction: column;
  margin-top: -0.5px;
  min-height: 287px;
  padding: 24.8px 34px;
  width: 347px;
}

.surname-4 {
  letter-spacing: 0;
  line-height: 16px;
  margin-top: 5px;
  min-height: 21px;
  white-space: nowrap;
}

.group-449-10 {
  display: flex;
  flex-direction: column;
  height: 147px;
  justify-content: space-between;
  margin-left: 0.49px;
  margin-top: 22px;
  width: 276px;
}

.group-450-7 {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 42.74px;
  justify-content: space-between;
  margin-right: 16px;
  max-height: 42.74px;
}

.article-title-here-3 {
  height: 32px;
  letter-spacing: 0;
  line-height: 25px;
  margin-left: 5.1px;
  margin-top: 2.5px;
  white-space: nowrap;
  width: 210px;
}

.rectangle-152-6 {
  background-color: var(--white);
  flex: 1;
  height: 2.54px;
  margin-bottom: 0;
  max-height: 2.54px;
}

.lorem-ipsum-dolor-si-44 {
  flex: 1;
  height: 88.43px;
  letter-spacing: 0;
  line-height: 25px;
  margin-bottom: 2.5px;
  margin-left: 5.1px;
  margin-right: -2px;
  max-height: 88.43px;
}

.read-more-4 {
  letter-spacing: 0;
  line-height: 16px;
  margin-top: 21px;
  min-height: 21px;
  text-decoration: underline;
  white-space: nowrap;
}

.overlap-group1-50 {
  align-items: flex-start;
  background-color: var(--white-3);
  border: 1px solid;
  border-color: var(--white-2);
  border-radius: 8px;
  box-shadow: 0px 3px 25px #0000000d;
  display: flex;
  flex-direction: column;
  left: 367px;
  min-height: 287px;
  padding: 25.3px 34px;
  position: absolute;
  top: 605px;
  width: 347px;
}

.surname-3 {
  letter-spacing: 0;
  line-height: 16px;
  margin-top: 4px;
  min-height: 21px;
  white-space: nowrap;
}

.group-449-9 {
  display: flex;
  flex-direction: column;
  height: 147px;
  justify-content: space-between;
  margin-left: 0.49px;
  margin-top: 23px;
  width: 276px;
}

.read-more-3 {
  letter-spacing: 0;
  line-height: 16px;
  margin-top: 20px;
  min-height: 21px;
  text-decoration: underline;
  white-space: nowrap;
}

.overlap-group2-26 {
  align-items: flex-start;
  background-color: var(--white-3);
  border: 1px solid;
  border-color: var(--white-2);
  border-radius: 8px;
  box-shadow: 0px 3px 25px #0000000d;
  display: flex;
  flex-direction: column;
  left: 740px;
  min-height: 287px;
  padding: 25.2px 34px;
  position: absolute;
  top: 293px;
  width: 347px;
}

.overlap-group3-20 {
  align-items: flex-start;
  background-color: var(--white-3);
  border: 1px solid;
  border-color: var(--white-2);
  border-radius: 8px;
  box-shadow: 0px 3px 25px #0000000d;
  display: flex;
  flex-direction: column;
  left: 740px;
  min-height: 287px;
  padding: 25.2px 34px;
  position: absolute;
  top: 605px;
  width: 347px;
}

.overlap-group4-15 {
  align-items: flex-start;
  background-color: var(--white-3);
  border: 1px solid;
  border-color: var(--white-2);
  border-radius: 8px;
  box-shadow: 0px 3px 25px #0000000d;
  display: flex;
  flex-direction: column;
  left: 1112px;
  min-height: 287px;
  padding: 25.2px 34px;
  position: absolute;
  top: 293px;
  width: 347px;
}

.overlap-group5-5 {
  align-items: flex-start;
  background-color: var(--white-3);
  border: 1px solid;
  border-color: var(--white-2);
  border-radius: 8px;
  box-shadow: 0px 3px 25px #0000000d;
  display: flex;
  flex-direction: column;
  left: 1112px;
  min-height: 287px;
  padding: 25.2px 34px;
  position: absolute;
  top: 605px;
  width: 347px;
}

.customer-stories-1 {
  left: 368px;
  letter-spacing: 0;
  line-height: 55px;
  position: absolute;
  top: 84px;
  white-space: nowrap;
}

.lorem-ipsum-dolor-si-46 {
  height: 54px;
  left: 370px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 176px;
  width: 534px;
}

.component-54-1 {
  height: 3px;
  left: 373px;
  object-fit: cover;
  position: absolute;
  top: 161px;
  width: 222px;
}

.component-85-1 {
  height: 50px;
  left: 1411px;
  object-fit: cover;
  position: absolute;
  top: 977px;
  width: 50px;
}

.component-84-1 {
  height: 50px;
  left: 1342px;
  object-fit: cover;
  position: absolute;
  top: 977px;
  width: 50px;
}

.products-and-solutions-1 {
  align-items: flex-start;
  display: flex;
  height: 716px;
  min-width: 1366px;
  z-index: 8;
}

.group-container-89 {
  align-items: center;
  background: #001023 0% 0% no-repeat padding-box;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  margin-left: -137px;
  margin-top: -75px;
  min-height: 810px;
  padding: 89px 99px;
  position: relative;
  width: 1503px;
}

.group-container-90 {
  align-self: flex-end;
  height: 276px;
  margin-top: 60px;
  position: relative;
  width: 1167px;
}

.group-3566-3 {
  display: flex;
  height: 276px;
  left: 136px;
  position: absolute;
  top: 0;
  width: 896px;
}

.group-3565-3 {
  display: flex;
  flex: 1;
  justify-content: space-between;
  position: relative;
  width: 896px;
}

.group-490-2 {
  cursor: pointer;
  display: flex;
  height: 37px;
  justify-content: space-between;
  margin-left: 140.01px;
  margin-top: 71px;
  width: 179px;
}

.component-69-1 {
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
  object-fit: cover;
  width: 78.26px;
}

.view-all-3 {
  height: 26px;
  letter-spacing: 0;
  line-height: 20px;
  margin-right: -2px;
  margin-top: 7.3px;
  white-space: nowrap;
  width: 83px;
}

.group-599-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 692px;
  padding: 62px 138px;
  position: relative;
  width: 1366px;
  background: #000000 0% 0% no-repeat padding-box;
  opacity: 0.5;
}

.ourservices-1 {
  letter-spacing: 0;
  line-height: 55px;
  margin-top: 14px;
  min-height: 136px;
  white-space: nowrap;
}

.component-70-1 {
  height: 3px;
  margin-top: 6px;
  object-fit: cover;
  width: 234px;
}

.lorem-ipsum-dolor-si-47 {
  height: 53px;
  letter-spacing: 0;
  line-height: 25px;
  margin-top: 16px;
  width: 924px;
}

.component-container-5 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 228px;
  margin-top: 38px;
  min-width: 1048px;
  position: relative;
}

.group-453-3 {
  align-items: center;
  background: #001023 0% 0% no-repeat padding-box;
  opacity: 1;
  display: flex;
  flex-direction: column;
  min-height: 589px;
  padding: 90px 0;
  position: relative;
  width: 1366px;
  z-index: 4;
}

.group-452-28 {
  display: flex;
  justify-content: space-between;
  margin-right: 89px;
  width: 953px;
}

.group-452-29 {
  align-items: flex-end;
  display: flex;
  height: 147px;
  min-width: 292px;
}

.overlap-group-93 {
  height: 136px;
  margin-bottom: -1px;
  position: relative;
  width: 292px;
}

.focusedindustries-1 {
  left: 6px;
  letter-spacing: 0;
  line-height: 55px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.component-72-1 {
  height: 3px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 132px;
  width: 290px;
}

.lorem-ipsum-dolor-si-48 {
  align-self: flex-end;
  height: 82px;
  letter-spacing: 0;
  line-height: 25px;
  margin-bottom: 2.5px;
  margin-right: -2px;
  width: 628px;
}

.overlap-group12-1 {
  align-items: flex-end;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 384px;
  min-width: 1366px;
  padding: 91px 367px;
  position: relative;
  z-index: 8;
}

.group-491-4 {
  align-items: flex-end;
  display: flex;
  height: 850px;
  min-width: 1366px;
  z-index: 5;
}

.overlap-group7-4 {
  align-items: flex-start;
  background: #001023 0% 0% no-repeat padding-box;
  opacity: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: -8px;
  min-height: 858px;
  padding: 98px 144px;
  width: 1366px;
}

.contact-us-22 {
  letter-spacing: 0;
  line-height: 55px;
  min-height: 69px;
  white-space: nowrap;
}

.rectangle-157-13 {
  background: linear-gradient(
    90deg,
    rgba(74, 204, 196, 0) -8.84%,
    rgba(76, 197, 196, 0.02) -0.09%,
    rgba(84, 178, 198, 0.09) 9.93%,
    rgba(74, 204, 196, 0.31) 39.42%,
    rgba(116, 102, 205, 0.35) 45.88%,
    rgba(139, 47, 210, 0.54) 55.66%,
    rgba(143, 38, 211, 0.57) 59.06%,
    #ff4d00 98.89%
  );
  height: 3px;
  margin-top: 2px;
  width: 312px;
}

.lorem-ipsum-dolor-si-49 {
  height: 41px;
  letter-spacing: 0;
  line-height: 25px;
  margin-top: 16px;
  width: 924px;
}

.component-7 {
  height: 234px;
  margin-left: 15px;
  object-fit: cover;
  width: 234px;
}

.group-501-3 {
  display: flex;
  flex-direction: column;
  height: 215px;
  justify-content: space-between;
  margin-top: 33px;
  width: 335px;
}

.lorem-ipsum-dolor-si-45 {
  flex: 1;
  height: 60px;
  letter-spacing: 0;
  line-height: 25px;
  margin-right: -2px;
  margin-top: -4.5px;
  max-height: 60px;
}

.group-591-1 {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 127.06px;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 42px;
  max-height: 127.06px;
  position: relative;
}

.group-500-6 {
  align-self: flex-end;
  display: flex;
  height: 46px;
  justify-content: space-between;
  position: relative;
  width: 271px;
}

.toppngcom-icon-mail-5 {
  margin-bottom: 0;
  margin-left: 0;
  object-fit: cover;
  width: 45.99px;
}

.flex-col-9 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 178px;
  min-height: 482px;
  width: 335px;
}

.group-570-1 {
  display: flex;
  flex-direction: column;
  height: 215px;
  justify-content: space-between;
  margin-top: 33px;
  position: relative;
  width: 335px;
}

.group-280-2,
.group-280-3 {
  align-items: flex-end;
  display: flex;
  height: 85px;
  margin-left: 2px;
  min-width: 759px;
}

.overlap-group1-48,
.overlap-group-83 {
  height: 84px;
  margin-bottom: -4.5px;
  position: relative;
  width: 759px;
}

.business-tech-solutions,
.business-tech-solutions-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 48px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.end-to-end-consultan,
.end-to-end-consultan-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 52px;
  white-space: nowrap;
}

.group-557-4,
.group-557-5 {
  display: flex;
  margin-left: 139px;
  margin-top: 49px;
  width: 922px;
}

.group-452-24,
.group-452-26 {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 139px;
  justify-content: space-between;
}

.group-452-25,
.group-452-27 {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 80px;
  justify-content: space-between;
  margin-left: 126px;
  margin-right: 128px;
  max-height: 80px;
}

.products-solutions-34,
.products-solutions-35 {
  flex: 1;
  height: 69px;
  letter-spacing: 0;
  line-height: 55px;
  margin-left: 40px;
  margin-right: 38px;
  margin-top: 6px;
  max-height: 69px;
  white-space: nowrap;
}

.rectangle-157-11,
.rectangle-157-12 {
  background: linear-gradient(
    90deg,
    rgba(74, 204, 196, 0) -8.84%,
    rgba(76, 197, 196, 0.02) -0.09%,
    rgba(84, 178, 198, 0.09) 9.93%,
    rgba(74, 204, 196, 0.31) 39.42%,
    rgba(116, 102, 205, 0.35) 45.88%,
    rgba(139, 47, 210, 0.54) 55.66%,
    rgba(143, 38, 211, 0.57) 59.06%,
    #ff4d00 98.89%
  );
  flex: 1;
  height: 3px;
  max-height: 3px;
}

.lorem-ipsum-dolor-si-42,
.lorem-ipsum-dolor-si-43 {
  flex: 1;
  height: 41px;
  letter-spacing: 0;
  line-height: 25px;
  margin-bottom: 2.5px;
  margin-right: -2px;
  max-height: 41px;
}

.group-479,
.group-479-1,
.group-479-2,
.group-479-3 {
  display: flex;
  height: 50px;
  justify-content: space-between;
  left: 0;
  position: absolute;
  top: 98px;
  width: 1167px;
}

.component-6,
.component-6-1,
.component-6-2,
.component-6-3 {
  object-fit: cover;
  width: 50px;
}

.group-490-1 {
  display: flex;
  height: 37px;
  justify-content: space-between;
  margin-left: 140.01px;
  margin-top: 71px;
  width: 179px;
}

.component-69-2 {
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
  object-fit: cover;
  width: 78.26px;
}

.view-all-1 {
  height: 26px;
  letter-spacing: 0;
  line-height: 20px;
  margin-right: -2px;
  margin-top: 7.3px;
  white-space: nowrap;
  width: 83px;
}

.group-490-1.group-765-2 {
  align-self: center;
  margin-left: 3.01px;
  margin-top: 36px;
}

/* @media only screen and (min-width: 1367px) {
  .home-page-12 {
    align-items: flex-end;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    height: 5025px;
    overflow: hidden;
    position: relative;
    width: 1990px;
  }

} */

/* @media only screen and (min-width: 391px) {
  .hide {
    display: none;
  }

  .b-hide {
    display: none;
  }

  .g-hide {
    display: none;
  }

  .g1-hide {
    display: none;
  }

  .c-hide {
    display: none;
  }

  .p-hide {
    display: none;
  }
}

@media only screen and (max-width: 390px) {
  .home-page-12 {
    align-items: flex-start;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    height: 6311px;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
  }

  .group-282-3 {
    height: 356px;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 154px;
    position: absolute;
    top: 267px;
    width: 442px;
  }

  .group-281-3 {  
    display: flex;
    height: 36px;
    justify-content: space-between;
    margin-left: 2.16px;
    margin-top: 192px;
    width: 208px;
  }

  .component-131-1 {
    margin-left: 24;
    object-fit: cover;
    width: 76px;
  }

  .contact-us-21 {
    height: 26px;
    letter-spacing: 0;
    line-height: 20px;
    margin-right: -2px;
    margin-top: 7.2px;
    white-space: nowrap;
    width: 85px;
  }

  .b-show {
    display: none;
  }

  .b-hide {
    left: 24;
    letter-spacing: 0;
    line-height: 48px;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 329px;
  }

  .show {
    display: none;
  }

  .g-show {
    display: none;
  }

  .hide {
    left: 24;
    letter-spacing: 0;
    line-height: 35px;
    position: absolute;
    top: 182px;
    white-space: nowrap;
    width: 362px;
  }

  .g-show {
    display: none;
  }

  .g-hide {
    top: 380px;
    left: 720px;
    width: 228px;
    height: 228px;
    transform: matrix(-0.98, 0.17, -0.17, -0.98, 0, 0);
    background: transparent
      radial-gradient(closest-side at 50% 50%, #4accc4 0%, #25666280 100%) 0% 0%
      no-repeat padding-box;
    mix-blend-mode: screen;
    opacity: 1;
    filter: blur(50px);
  }

  .g1-show {
    display: none;
  }

  .g1-hide {
    top: 360px;
    left: 890px;
    width: 228px;
    height: 228px;
    transform: matrix(-0.98, 0.17, -0.17, -0.98, 0, 0);
    background: transparent
      radial-gradient(closest-side at 50% 50%, #981385 0%, #4a146580 100%) 0% 0%
      no-repeat padding-box;
    mix-blend-mode: screen;
    opacity: 1;
    filter: blur(50px);
  }

  .a-hide {
    display: none;
  }

  .overlap-group6-8 {
    left: 0;
    position: absolute;
    top: 720px;
    width: 1041px;
    height: 699px;
    opacity: 1;
  }

  .c-show {
    display: none;
  }

  .c-hide {
    width: 335px;
    height: 98px;
    left: 745px;
    letter-spacing: 0;
    line-height: 49px;
    position: absolute;
    top: 44px;
    white-space: nowrap;
    text-align: left;
    color: #ffffff;
    opacity: 1;
  }

  .component-54-1 {
    height: 3px;
    left: 733px;
    object-fit: cover;
    position: absolute;
    width: 222px;
  }

  .p-show {
    display: none;
  }

  .p-hide {
    left: 745px;
    letter-spacing: 0;
    line-height: 18px;
    position: absolute;
    top: 194px;
    width: 309px;
  }
} */
