.component-30-1 {
  display: flex;
  height: 228px;
  width: 330px;
}

.group-632-2 {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  min-width: 330px;
}

.overlap-group-63 {
  align-items: flex-start;
  background-color: var(--white-3);
  border: 1px solid;
  border-color: var(--white-2);
  border-radius: 8px;
  box-shadow: 0px 3px 10px #00000063;
  display: flex;
  height: 229px;
  margin-top: -0.5px;
  min-width: 331px;
  padding: 23.5px 21.5px;
}

.group-631-2 {
  display: flex;
  flex-direction: column;
  height: 161px;
  justify-content: space-between;
  width: 287px;
}

.x-services {
  flex: 1;
  height: 51px;
  letter-spacing: 0;
  line-height: 27px;
  margin-right: -2px;
  margin-top: -4.5px;
  max-height: 51px;
}

.using-technological-1 {
  flex: 1;
  height: 96px;
  letter-spacing: 0;
  line-height: 25px;
  margin-bottom: 2.5px;
  margin-right: 9px;
  max-height: 96px;
}

.component-30-1.component-33-1 {
  margin-top: 30px;
}

