.component-21-6 {
  display: flex;
  height: 66px;
  left: 0;
  position: absolute;
  top: 273px;
  width: 1366px;
}

.group-510-46 {
  display: flex;
  flex: 1;
  width: 1366px;
}

.group-509-46 {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  flex: 1;
  height: 66px;
  min-width: 1366px;
  padding: 23.9px 60px;
}

.group-container-73 {
  height: 18px;
  position: relative;
  width: 1228px;
}

.group-606-14 {
  display: flex;
  height: 18px;
  left: 375px;
  position: absolute;
  top: 0;
  width: 497px;
}

.group-508-18,
.group-508-19,
.group-508-20,
.group-508-21,
.group-508-22,
.group-508-23,
.group-508-24,
.group-508-25,
.group-508-26,
.group-508-27,
.group-508-28,
.group-508-29,
.group-508-30,
.group-508-31,
.group-508-32 {
  display: flex;
  height: 18px;
  justify-content: space-between;
  left: 0;
  position: absolute;
  top: 0;
  width: 1228px;
}

.group-505-11,
.group-505-12,
.group-505-13,
.group-505-14,
.group-505-15,
.group-505-16,
.group-505-17,
.group-505-18,
.group-505-19,
.group-505-20,
.group-505-21,
.group-505-22,
.group-505-23,
.group-505-24,
.group-505-10 {
  display: flex;
  margin-bottom: 0.5px;
  width: 245px;
}

.group-364-3,
.group-364-7,
.group-364-8,
.group-364-9,
.group-364-10,
.group-364-11,
.group-364-12,
.group-364-13,
.group-364-14,
.group-364-15,
.group-364-16,
.group-364-17,
.group-364-18,
.group-364-19,
.group-364-2 {
  align-items: center;
  display: flex;
  flex: 1;
  min-width: 245px;
  padding: 0 0px;
  position: relative;
}

.path-133-18,
.path-133-20,
.path-133-22,
.path-133-24,
.path-133-26,
.path-133-28,
.path-133-30,
.path-133-32,
.path-133-34,
.path-133-36,
.path-133-38,
.path-133-40,
.path-133-42,
.path-133-44,
.path-133-46 {
  height: 17px;
  margin-bottom: 0;
  margin-left: 4px;
  object-fit: cover;
  width: 19px;
}

.path-1337-10,
.path-1337-11,
.path-1337-12,
.path-1337-13,
.path-1337-14,
.path-1337-15,
.path-1337-16,
.path-1337-17,
.path-1337-18,
.path-1337-19,
.path-1337-20,
.path-1337-21,
.path-1337-22,
.path-1337-23,
.path-1337-9 {
  height: 17px;
  margin-bottom: 0;
  margin-left: 10px;
  object-fit: cover;
  width: 4px;
}

.path-133-19,
.path-133-21,
.path-133-23,
.path-133-25,
.path-133-27,
.path-133-29,
.path-133-31,
.path-133-33,
.path-133-35,
.path-133-37,
.path-133-39,
.path-133-41,
.path-133-43,
.path-133-45,
.path-133-47 {
  height: 17px;
  margin-bottom: 0;
  margin-left: 4px;
  object-fit: cover;
  width: 16px;
}

.path-134-9,
.path-134-10,
.path-134-11,
.path-134-12,
.path-134-13,
.path-134-14,
.path-134-15,
.path-134-16,
.path-134-17,
.path-134-18,
.path-134-19,
.path-134-20,
.path-134-21,
.path-134-22,
.path-134-23 {
  align-self: flex-start;
  height: 18px;
  margin-left: 3px;
  margin-top: 0;
  object-fit: cover;
  width: 19px;
}

.path-container-42,
.path-container-43,
.path-container-44,
.path-container-45,
.path-container-46,
.path-container-47,
.path-container-48,
.path-container-49,
.path-container-50,
.path-container-51,
.path-container-52,
.path-container-53,
.path-container-54,
.path-container-55,
.path-container-41 {
  height: 17px;
  margin-bottom: 0;
  position: relative;
  width: 50px;
}

.path-1341-10,
.path-1341-11,
.path-1341-12,
.path-1341-13,
.path-1341-14,
.path-1341-15,
.path-1341-16,
.path-1341-17,
.path-1341-18,
.path-1341-19,
.path-1341-20,
.path-1341-21,
.path-1341-22,
.path-1341-23,
.path-1341-9 {
  height: 17px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 19px;
}

.path-1342-10,
.path-1342-11,
.path-1342-12,
.path-1342-13,
.path-1342-14,
.path-1342-15,
.path-1342-16,
.path-1342-17,
.path-1342-18,
.path-1342-19,
.path-1342-20,
.path-1342-21,
.path-1342-22,
.path-1342-23,
.path-1342-9 {
  height: 17px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 19px;
}

.path-1343-10,
.path-1343-11,
.path-1343-12,
.path-1343-13,
.path-1343-14,
.path-1343-15,
.path-1343-16,
.path-1343-17,
.path-1343-18,
.path-1343-19,
.path-1343-20,
.path-1343-21,
.path-1343-22,
.path-1343-23,
.path-1343-9 {
  height: 17px;
  left: 35px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 15px;
}

.path-1344-10,
.path-1344-11,
.path-1344-12,
.path-1344-13,
.path-1344-14,
.path-1344-15,
.path-1344-16,
.path-1344-17,
.path-1344-18,
.path-1344-19,
.path-1344-20,
.path-1344-21,
.path-1344-22,
.path-1344-23,
.path-1344-9 {
  height: 17px;
  margin-bottom: 0;
  margin-left: 2px;
  object-fit: cover;
  width: 4px;
}

.path-1346-10,
.path-1346-11,
.path-1346-12,
.path-1346-13,
.path-1346-14,
.path-1346-15,
.path-1346-16,
.path-1346-17,
.path-1346-18,
.path-1346-19,
.path-1346-20,
.path-1346-21,
.path-1346-22,
.path-1346-23,
.path-1346-9 {
  height: 17px;
  margin-bottom: 0;
  margin-left: 3px;
  object-fit: cover;
  width: 16px;
}

.path-1347-10,
.path-1347-11,
.path-1347-12,
.path-1347-13,
.path-1347-14,
.path-1347-15,
.path-1347-16,
.path-1347-17,
.path-1347-18,
.path-1347-19,
.path-1347-20,
.path-1347-21,
.path-1347-22,
.path-1347-23,
.path-1347-9 {
  align-self: flex-start;
  height: 18px;
  margin-left: 3px;
  margin-top: 0;
  object-fit: cover;
  width: 14px;
}

.group-363-25 {
  align-self: flex-end;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 17px;
  justify-content: flex-end;
  margin-bottom: 0.01px;
  width: 12px;
}

.path-1336 {
  height: 3.16px;
  margin-right: 0;
  margin-top: 0;
  object-fit: cover;
  width: 9.82px;
}

.group-363-25.group-363-2-1 .path-1336,
.group-363-25.group-363-3-1 .path-1336,
.group-363-25.group-363-4-1 .path-1336,
.group-363-25.group-363-5-1 .path-1336,
.group-363-25.group-363-6-1 .path-1336,
.group-363-25.group-363-7-1 .path-1336,
.group-363-25.group-363-14-1 .path-1336,
.group-363-25.group-363-15-1 .path-1336,
.group-363-25.group-363-16-1 .path-1336,
.group-363-25.group-363-17-1 .path-1336,
.group-363-25.group-363-18-1 .path-1336,
.group-363-25.group-363-19-1 .path-1336,
.group-363-25.group-363-20-1 .path-1336,
.group-363-25.group-363-21-1 .path-1336,
.group-363-25.group-363-22-1 .path-1336,
.group-363-25.group-363-23-1 .path-1336,
.group-363-25.group-363-2 .path-1336,
.group-363-25.group-363-3 .path-1336,
.group-363-25.group-363-4 .path-1336,
.group-363-25.group-363-5 .path-1336,
.group-363-25.group-363-6 .path-1336,
.group-363-25.group-363-7 .path-1336,
.group-363-25.group-363-14 .path-1336,
.group-363-25.group-363-15 .path-1336,
.group-363-25.group-363-16 .path-1336,
.group-363-25.group-363-17 .path-1336,
.group-363-25.group-363-18 .path-1336,
.group-363-25.group-363-19 .path-1336,
.group-363-25.group-363-20 .path-1336,
.group-363-25.group-363-21 .path-1336,
.group-363-25.group-363-22 .path-1336,
.group-363-25.group-363-23 .path-1336 {
  width: 9.82px;
}

.group-363-25.group-363-8-1 .path-1336,
.group-363-25.group-363-9-1 .path-1336,
.group-363-25.group-363-10-1 .path-1336,
.group-363-25.group-363-11-1 .path-1336,
.group-363-25.group-363-12-1 .path-1336,
.group-363-25.group-363-13-1 .path-1336,
.group-363-25.group-363-8 .path-1336,
.group-363-25.group-363-9 .path-1336,
.group-363-25.group-363-10 .path-1336,
.group-363-25.group-363-11 .path-1336,
.group-363-25.group-363-12 .path-1336,
.group-363-25.group-363-13 .path-1336 {
  height: 3.16px;
  width: 9.82px;
}
.group-506-18 {
  display: flex;
  margin-right: 0;
  margin-top: 0.1px;
  width: 36px;
}

.arb {
  letter-spacing: 1.4px;
  line-height: 14px;
  margin-bottom: -4px;
  margin-top: 2px;
  white-space: nowrap;
  width: 36px;
}

.group-506-18.group-506-33 {
  margin-right: unset;
}

.component-22-17 {
  display: flex;
  width: 174px;
}

.products-solutions {
  flex: 1;
  letter-spacing: 1.4px;
  line-height: 14px;
  margin-bottom: -4px;
  margin-right: -2px;
  margin-top: 2px;
  white-space: nowrap;
  width: 174px;
}

.component-22-17.component-22-16,
.component-22-17.component-22-16-1,
.component-22-17.component-22-16-2,
.component-22-17.component-22-16-3,
.component-22-17.component-22-16-4,
.component-22-17.component-22-16-5,
.component-22-17.component-22-16-6,
.component-22-17.component-22-16-7,
.component-22-17.component-22-16-8,
.component-22-17.component-22-16-9,
.component-22-17.component-22-16-10,
.component-22-17.component-22-16-11,
.component-22-17.component-22-16-12,
.component-22-17.component-22-16-13,
.component-22-17.component-22-16-14 {
  margin-left: 38px;
  width: 69px;
}

.component-22-17.component-22-16 .products-solutions,
.component-22-17.component-22-16-1 .products-solutions,
.component-22-17.component-22-16-2 .products-solutions,
.component-22-17.component-22-16-3 .products-solutions,
.component-22-17.component-22-16-4 .products-solutions,
.component-22-17.component-22-16-5 .products-solutions,
.component-22-17.component-22-16-6 .products-solutions,
.component-22-17.component-22-16-7 .products-solutions,
.component-22-17.component-22-16-8 .products-solutions,
.component-22-17.component-22-16-9 .products-solutions,
.component-22-17.component-22-16-10 .products-solutions,
.component-22-17.component-22-16-11 .products-solutions,
.component-22-17.component-22-16-12 .products-solutions,
.component-22-17.component-22-16-13 .products-solutions,
.component-22-17.component-22-16-14 .products-solutions {
  width: 69px;
}

.component-22-17.component-22-15,
.component-22-17.component-22-15-1,
.component-22-17.component-22-15-2,
.component-22-17.component-22-15-3,
.component-22-17.component-22-15-4,
.component-22-17.component-22-15-5,
.component-22-17.component-22-15-6,
.component-22-17.component-22-15-7,
.component-22-17.component-22-15-8,
.component-22-17.component-22-15-9,
.component-22-17.component-22-15-10,
.component-22-17.component-22-15-11,
.component-22-17.component-22-15-12,
.component-22-17.component-22-15-13,
.component-22-17.component-22-15-14 {
  margin-left: 38px;
  width: 75px;
}

.component-22-17.component-22-15 .products-solutions,
.component-22-17.component-22-15-1 .products-solutions,
.component-22-17.component-22-15-2 .products-solutions,
.component-22-17.component-22-15-3 .products-solutions,
.component-22-17.component-22-15-4 .products-solutions,
.component-22-17.component-22-15-5 .products-solutions,
.component-22-17.component-22-15-6 .products-solutions,
.component-22-17.component-22-15-7 .products-solutions,
.component-22-17.component-22-15-8 .products-solutions,
.component-22-17.component-22-15-9 .products-solutions,
.component-22-17.component-22-15-10 .products-solutions,
.component-22-17.component-22-15-11 .products-solutions,
.component-22-17.component-22-15-12 .products-solutions,
.component-22-17.component-22-15-13 .products-solutions,
.component-22-17.component-22-15-14 .products-solutions {
  width: 75px;
}

.component-22-17.component-22-14,
.component-22-17.component-22-14-1,
.component-22-17.component-22-14-2,
.component-22-17.component-22-14-3,
.component-22-17.component-22-14-4,
.component-22-17.component-22-14-5,
.component-22-17.component-22-14-6,
.component-22-17.component-22-14-7,
.component-22-17.component-22-14-8,
.component-22-17.component-22-14-9,
.component-22-17.component-22-14-10,
.component-22-17.component-22-14-11,
.component-22-17.component-22-14-12,
.component-22-17.component-22-14-13,
.component-22-17.component-22-14-14 {
  margin-left: 38px;
  width: 66px;
}

.component-22-17.component-22-14 .products-solutions,
.component-22-17.component-22-14-1 .products-solutions,
.component-22-17.component-22-14-2 .products-solutions,
.component-22-17.component-22-14-3 .products-solutions,
.component-22-17.component-22-14-4 .products-solutions,
.component-22-17.component-22-14-5 .products-solutions,
.component-22-17.component-22-14-6 .products-solutions,
.component-22-17.component-22-14-7 .products-solutions,
.component-22-17.component-22-14-8 .products-solutions,
.component-22-17.component-22-14-9 .products-solutions,
.component-22-17.component-22-14-10 .products-solutions,
.component-22-17.component-22-14-11 .products-solutions,
.component-22-17.component-22-14-12 .products-solutions,
.component-22-17.component-22-14-13 .products-solutions,
.component-22-17.component-22-14-14 .products-solutions {
  width: 66px;
}
